/* Header/Logo Title */
/*.header {*/
/*    padding: 60px;*/
/*    background: #1abc9c;*/
/*    color: white;*/
/*    font-size: 30px;*/
/*}*/

.card-signup,
.card-signin {
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0 1.5rem 4rem 0 rgba(0, 0, 0, 0.5);
    border-color: #28074D !important;
    border-width: 2px;
    width: 35%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;

}
.card-signup{
    margin-left: 26rem;

}
.navbar{
    background-color: black;
    color: white;
}
input.form-control.mr-sm-2 {
    margin-top: 10px;
}
div.empty-header-for-sign-in-up {
    background-color: black;
    height: 80px;
}
button.col-4.btn.btn-primary {
    position: relative;
    left: 17px;
}
input[type=text],
input[type=number],
input[type=password] ,
input[type=email],
select {
    width: 70%;
    padding: 10px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 70%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
li a:hover,
input[type=submit]:hover {
    background-color: #45a049;
}

.sidenav {
    overflow: auto;
    background-color: black;
    position: fixed;

}
ul li {
    display:block;
    width:100%;
}

li a {
    display: block;
    position: relative;
    text-decoration: none;
    color: white;
    text-align: left;
    padding: 8px 11px 8px;
    background-color: black;
    margin: 0 0 0 -38px;
}
